<div class="container-fluid">
    <h2 class="text-muted">Dashboard <small>Weekly Statistics Overview</small></h2>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-12">
            <div class="card card-primary card-inverse">
                <div class="card-header card-primary">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-barcode fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-xs-right">
                            <div class="huge">
                                <h1>{{numDevices}}</h1>
                            </div>
                            <div>Total Devices</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer card-default">
                    <a href="dashboard/devices">
                        <span class="pull-xs-left">View Details</span>
                        <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-12">
            <div class="card card-primary card-inverse">
                <div class="card-header card-primary">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-power-off fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-xs-right">
                            <div class="huge">
                                <h1>{{numActiveDevices}}</h1>
                            </div>
                            <div>Active Devices</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer card-default">
                    <a href="dashboard/telemetry">
                        <span class="pull-xs-left">View Details</span>
                        <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-12">
            <div class="card card-success card-inverse">
                <div class="card-header card-success">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-bed fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-xs-right">
                            <div class="huge">
                                <h1>{{numWakeups}}</h1>
                            </div>
                            <div>Successful Wakeups</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer card-green">
                    <a class="text-success" href="dashboard/devices">
                        <span class="pull-xs-left">View Details</span>
                        <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-12">
            <div class="card card-danger card-inverse">
                <div class="card-header card-danger">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-bed fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-xs-right">
                            <div class="huge">
                                <h1>{{numFailedWakeups}}</h1>
                            </div>
                            <div>Failed Wakeups</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer card-green">
                    <a class="text-danger" href="dashboard/devices">
                        <span class="pull-xs-left">View Details</span>
                        <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div #wakeupContainer class="col-xl-12">
            <div class="card card-block">
                <h3>Wakeups</h3>              
                <google-chart #wakeupChart id="wakeupChart" chartType="ColumnChart" [chartOptions]="chartOptions" [chartData]="chartData" [(imageUri)]="wakeupImageUri" style="width: 100%"></google-chart>
                <!--<button type="button" class="btn btn-warning" (click)="viewWakeupChart()">Export as PNG</button>-->
            </div>
        </div>
    </div>
</div>
