<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Telemetry
            </h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0);" [routerLink]="['/dashboard','/home']">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Telemetry
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    
    <div class="row">
        <div #eventStreamContainer class="col-xl-12">
            <div class="card card-block">
                <h3>Event Stream</h3>
                <p>TODO: Resolve googe chart issue</p>
                
                <google-chart #yourchart id="mychart" chartType="LineChart" [chartOptions]="chartOptions" [chartData]="chartData" [(imageUri)]="scanImageUri" style="width: 100%"></google-chart>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
          <div class="card card-block">
          <h3>Events</h3>
            <table-telemetry [data_in]="events">
            </table-telemetry>
          </div>
        </div>
    </div>
</div>
