<div class="container-fluid" *ngIf="customer">
  <div class="row">
    <div class="col-xl-12">
      <h2><button type="button" class="btn btn-primary" (click)="goBack()">Back</button> <button type="button" class="btn btn-primary" (click)="save()">Save</button> | <i class="fa fa-user"></i> {{customer.customer_name}}<span *ngIf=customer.order_nickame> - {{customer.order_nickname}}</span>
      </h2>
      <hr />
    </div>

  </div>
  <div *ngIf="customer.order_status=='Shipped'" class="alert alert-success">
    We have shipped Wakē(s) to this customer.
  </div>
  <div *ngIf="customer.order_status=='Unfulfilled'" class="alert alert-warning">
    We have <strong>not</strong> shipped Wakē(s) to this customer.
  </div>

  <div class="row">
    <div class="col-xl-12">
      <customer-form [customer]="customer"></customer-form>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4">

      <div *ngIf="customer.shipment_date" class="card card-success card-inverse">
        <div class="card-header card-success">
          Shipment
        </div>
        <div class="card-block bg-white">
          Ship Date: {{customer.shipment_date}}<br /> Shipped To: {{customer.shipment_name}}<br /> Address: <a href="#">123 Main St. Los Angeles CA 90000</a><br
          /> Email: <a href="mailto:{{customer.shipment_email}}">{{customer.shipment_email}}</a><br />{{customer.shipment_telephone}}
          <hr />
        </div>
      </div>

      <div *ngIf="!customer.shipment_date" class="card card-warning card-inverse">
        <div class="card-header card-warning">
          Units Available for Shipment
        </div>
        <div class="card-block bg-white">
          <div class="row">
            <div class="col-xs-12">
              <alert *ngFor="let order_unit of order_units;let i = index" [type]="order_unit.type" dismissible="true" (close)="closeAlert(i)">
                {{ order_unit?.msg }}
              </alert>
            </div>
            <div class="col-xs-8">
              <fieldset class="form-group">
                  <select multiple="" size="8" class="form-control" name="available_devices" (change)="setSelectedDevices($event.target.options)">
                      <option *ngFor="let available_devices of customer.available_devices" [value]="available_devices.deviceID">
                        {{available_devices.serial_number}}
                      </option>
                  </select>
              </fieldset>
            </div>
            <div class="col-xs-4">
              <button type="button" class="btn btn-primary" (click)="addAlert()">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div *ngIf="customer.devices" class="card card-block">
        <h4>Devices</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Serial Number</th>
                <th>Status</th>
                <th>Telemetry Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let device of customer.devices" [attr.class]="device.status != 'Active' ? 'table-danger' : 'table-success'">
                <td>{{device.serial_number}}</td>
                <td>{{device.status}}</td>
                <td>{{device.telemetry_count}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf=customer.city class="card card-primary card-inverse">
        <div class="card-header card-primary">
          Location
        </div>

        <style>
          .google-maps {
            position: relative;
            padding-bottom: 75%; // This is the aspect ratio
            height: 0;
            overflow: hidden;
          }

          .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
          }
        </style>

        <div class="card-block bg-white">
          <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBZO6PMVjOfggnBJLkaVNmgibwYxWz33t8
    &q=Los+Angeles+CA" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
