<div class="card card-warning card-inverse">
  <div class="card-header card-warning">
    Customer Information
  </div>
  <div class="card-block bg-white" [hidden]="submitted">

    <form *ngIf="active" (ngSubmit)="onSubmit()" #customerForm="ngForm">
      <div class="row">
        <div class="col-xl-6">

          <fieldset class="form-group">
            <label>Name</label>
            <input class="form-control" name="customer-name"  value="{{customer.name}}" [(ngModel)]="customer.name">
          </fieldset>
          <fieldset class="form-group">
            <label>Email</label>
            <input class="form-control" name="customer-email" value="{{customer.email}}" [(ngModel)]="customer.email">
          </fieldset>
          <fieldset class="form-group">
            <label>Phone Number</label>
            <input class="form-control" name="customer-phone" value="{{customer.phone_number}}" [(ngModel)]="customer.telephone_number">
          </fieldset>
          <fieldset class="form-group">
            <label>Notes</label>
            <textarea class="form-control" name="customer-notes" rows="5" value="{{customer.notes}}" [(ngModel)]="customer.notes"></textarea>
          </fieldset>

        </div>
        <div class="col-xl-6">

          <fieldset class="form-group">
            <label>Street Address</label>
            <input class="form-control" name="customer-address" value="{{customer.street_address}}" [(ngModel)]="customer.street_address">
          </fieldset>
          <fieldset class="form-group">
            <label>City</label>
            <input class="form-control" name="customer-city" value="{{customer.city}}" [(ngModel)]="customer.city">
          </fieldset>
          <fieldset class="form-group">
            <label>State</label>
            <select class="form-control" name="customer-state" value="{{customer.state}}" [(ngModel)]="customer.state">
              <option></option>
              <option *ngFor="let state of states">{{state}}</option>
            </select>
          </fieldset>
        </div>
        <div class="col-xl-4">
          <fieldset class="form-group">
            <label>Country</label>
            <input class="form-control" name="customer-country" value="{{customer.county}}" [(ngModel)]="customer.country">
          </fieldset>
          <fieldset class="form-group">
            <label>Postal Code</label>
            <input class="form-control" name="customer-country" value="{{customer.postal_code}}" [(ngModel)]="customer.postal_code">
          </fieldset>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-secondary">Reset</button>

    </form>

  </div>

  <div class="card-block bg-white" [hidden]="!submitted">
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9  pull-left">{{ customer.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Email</div>
      <div class="col-xs-9 pull-left">{{ customer.email }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Phone Number</div>
      <div class="col-xs-9 pull-left">{{ customer.telephone_number }}</div>
    </div>
    <br>
    <button class="btn btn-default" (click)="submitted=false">Edit</button>
  </div>

</div>
