<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Customers
            </h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0);" [routerLink]="['/dashboard','/home']">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-users"></i> Customers
                </li>
            </ol>
        </div>
    </div>

    <table-demo
      (rowClicked)="onSelect($event)"
    ></table-demo>
</div>
