<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Log
            </h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0);" [routerLink]="['/dashboard','/home']">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Log
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-xl-6 col-lg-12">
            <div class="card card-block">
                <h4>Authentications</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>IP Address</th>
                                <th>User</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>2016-07-09 05:33:27</td>
                            <td>123.456.789.123</td>
                            <td>Will Russell</td>
                          </tr>
                          <tr>
                            <td>2016-07-09 05:33:27</td>
                            <td>123.456.789.123</td>
                            <td>Gregory Eslinger</td>
                          </tr>
                          <tr>
                            <td>2016-07-09 05:33:27</td>
                            <td>123.456.789.123</td>
                            <td>Brandon Brown</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card card-danger card-inverse">
                <div class="card-header card-danger">
                    Last Error
                </div>
                <div class="card-block bg-white">
                    Card content
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-xl-12">
            <div class="card card-block">
            <h4>API Calls</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Timestamp</th>
                                <th>IP Address</th>
                                <th>User</th>
                                <th>Endpoint</th>
                                <th>Response Code</th>
                                <th>Execution Time</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let event of log_events" (click)="onSelect(event)" [attr.class]="event.error ? 'table-danger' : 'table-success'">
                            <td *ngIf="event.error"><i class="fa fa-exclamation-triangle"></i></td>
                            <td *ngIf="!event.error"></td>
                            <td>{{event.requested_at}}</td>
                            <td><a href="http://whatismyipaddress.com/ip/{{event.IPaddress}}" target="_blank">{{event.IPaddress}}</a></td>
                            <td>{{event.userID}}</td>
                            <td>{{event.verb}} {{event.req_object}}<span *ngIf="event.objectID">/{{event.objectID}}</span><span *ngIf="event.method">/{{event.method}}</span></td>
                            <td>{{event.response_code}}</td>
                            <td>{{event.execution_time}}</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
